/* Esta hoja de estilos incluye los estilos del navbar, de la barra lateral y del footer */

/* Pantallas con resolución de tamaño de pantala para escritorio */

/* Media queries */
@media screen and (min-width: 1024px) {
    
    body {
        overflow-y: hidden;
    }

    /* NAVBAR */
    header {
        display: flex;
        background: #FFF;
        margin: 0 auto;
        align-items: baseline;
        justify-content: space-between;
    }

    /* Icono de menu de hamburguesa para el navbar */
    .menu-hamburger {
        display: none;
    }

    /* Estilos navbar */
    #img-navbar {
        position: relative !important;
        width: 380px;
        height: 45px;
    }

    #img-navbar-rsp {
        display: none;
    }

    .navbar {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .navbar-main {
        width: 100%;
        height: 100%;
    }

    /* BARRA LATERAL */
    /* aside */
    .barra-lateral { 
        position: relative;
        background-color: #1B3B72;
        width: 12%;
        height: auto;
        padding: 15px 10px 15px 10px;
        color: #FFF
    }

    /* Se reduce el tamaño de la fuente dentro de la barra lateral, asi como de los elementos que componen la barra lateral */
    .barra-lateral > div, p {
        font-size: 12px;
    }

    .contenedor-lateral {
        text-align: center;
    }

    #img-barralateral {
        margin: 0 auto;
        display: block;
        width: 120px;
        height: 120px;
        max-width: 100%;
        height: auto;
    }

    .hr-bl-usu {
        height: 1px !important;
        background-color: #FFF !important;
    }

    .datos-usuario {
        font-size: 1.1em ;
    }

    .opcion-barralateral {
        position: relative;
        cursor: pointer;
        border-bottom: .5px solid #EB7F25;
        text-align: left;
        transition: all ease-in 300ms;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0.8em;
    }

    .opcion-barralateral-cs {
        position: relative;
        cursor: pointer;
        border-bottom: .5px solid red;
        text-align: left;
        transition: all ease-in 300ms;
        font-size: 1em;
        font-weight: bold;
        margin-top: 190%;
        margin-bottom: 0;
    }

    .opcion-barralateral:hover {
        background-color: #8CA2B2;
        border-bottom: 8px solid #EB7F25;
    }

    .opcion-barralateral-cs:hover {
        background-color: #8CA2B2;
        border-bottom: 8px solid red;
        color: red;
    }

    .bi-opc, .bi-cs {
        padding-left: 15px;
        padding-right: 10px;
        font-size: 18px;
    }

    /* FOOTER */
    footer {
        position: fixed;
        background: #000;
        width: 100%;
        margin: auto;
        padding: 5px;
        color: #fff;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }

    footer>p {
        text-align: center;
        font-size: small;
        margin: auto;
    }
} 


/* Responsividad para una tablet */
/* Media queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        overflow-y: hidden;
    }

    /* NAVBAR */
    header {
        display: flex;
        background: #FFF;
        margin: 0 auto;
        align-items: baseline;
        justify-content: space-between;
    }

    /* Icono de menu de hamburguesa para el navbar */
    .menu-hamburger {
        display: none;
    }


    /* Estilos navbar */
    #img-navbar {
        position: relative !important;
        width: 380px;
        height: 45px;
    }

    #img-navbar-rsp {
        display: none;
    }

    .navbar {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .navbar-main {
        width: 100%;
        height: 100%;
    }

    
    /* BARRA LATERAL */

    /* aside */
    .barra-lateral { 
        position: relative;
        background-color: #1B3B72;
        width: 10%;
        height: 100vh;
        padding: 15px 10px 15px 10px;
        color: #FFF
    }

    .contenedor-lateral {
        text-align: center;
    }

    #img-barralateral {
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 100px;
        max-width: 100%;
        height: auto;
    }

    .hr-bl-usu {
        height: 1px !important;
        background-color: #FFF !important;
    }

    .datos-usuario {
        font-size: 0.8em;
    }

    .opcion-barralateral {
        position: relative;
        cursor:pointer;
        border-bottom: .5px solid #EB7F25;
        text-align: left;
        transition: all ease-in 300ms;
        font-size: 0.7em;
        font-weight: bold;
        margin-bottom: 0.8em;
    }

    .opcion-barralateral-cs {
        position: relative;
        cursor:pointer;
        border-bottom: .5px solid red;
        text-align: left;
        transition: all ease-in 300ms;
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 0.8em;
        display: block;
    }

    .opcion-barralateral:hover {
        background-color: #8CA2B2;
        border-bottom: 8px solid #EB7F25;
    }

    .opcion-barralateral-cs:hover {
        background-color: #8CA2B2;
        border-bottom: 8px solid red;
        color: red;
    }

    .bi-opc, .bi-cs {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }



    /* FOOTER */
    footer {
        position: fixed;
        background: #000;
        width: 100%;
        margin: auto;
        padding: 5px;
        color: #fff;
    }

    footer>p {
        text-align: center;
        font-size: small;
        margin: auto;
    }
} 


/* Responsividad para un dispositivo móvil */

/* Media queries */
@media screen and (max-width: 767px) {

    body {
        overflow-y: hidden;
    }

    /* NAVBAR */
    header {
        display: flex;
        background: #FFF;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }

    /* Icono de menu de hamburguesa para el navbar */
    .menu-hamburger {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }

    .menu-hamburger .bi {
        font-size: 34px;
        color: #000;
    }

    

    /* Estilos navbar */
    #img-navbar {
        display: none;
    }

    #img-navbar-rsp {
        position: relative !important;
        margin: 5px;
    }

    .navbar {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .navbar-main {
        width: 100%;
        height: 100%;
    }


    /* BARRA LATERAL */

    /* aside */
    .barra-lateral { 
        display: none;
    }

    .contenedor-lateral {
        display: none;
        text-align: center;
    }

    .img-barralateral {
        margin: 0 auto;
        display: block;
        
    }

    .hr-bl-usu {
        height: 1px !important;
        background-color: #FFF !important;
    }

    .datos-usuario {
        font-size: .8em ;
    }

    .opcion-barralateral {
        position: relative;
        cursor:pointer;
        border-bottom: .5px solid #EB7F25;
        text-align: left;
        transition: all ease-in 300ms;
        font-size: small;
        font-weight: bold;
        margin-bottom: 0.8em;
    }

    .opcion-barralateral-cs {
        position: sticky;
        cursor:pointer;
        border-bottom: .5px solid red;
        text-align: left;
        transition: all ease-in 300ms;
        font-size: small;
        font-weight: bold;
        margin-top: 12em;
    }

    .opcion-barralateral:hover {
        background-color: #8CA2B2;
        border-bottom: 8px solid #EB7F25;
    }

    .opcion-barralateral-cs:hover {
        background-color: #8CA2B2;
        border-bottom: 8px solid red;
        color: red;
    }

    .bi-opc, .bi-cs {
        padding-left: 15px;
        padding-right: 10px;
        font-size: 18px;
    }

    /* FOOTER */
    footer {
        position: fixed;
        bottom: 0;
        background: #000;
        width: 100%;
        margin: auto;
        padding: 5px 0;
        color: #fff;
    }

    footer>p {
        text-align: center;
        font-size: small;
        margin: auto;
    }
} 


