/* Esta hoja de estilos incluye los estilos de la section del area derecha que 
contiene la tabla */

/* Pantallas con resolución de tamaño de pantala para escritorio */
/* Media queries */
@media screen and (min-width: 1024px) {

  .contenido-main {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      background: #FFF;
  }

  .area-derecha {
      position: relative;
      width: 88%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .opciones-menu .contenedor-menu {
    display: none;
  }

    #btn-menu {
        display: none;
    }

  
    #btn-ayuda {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 1;
      font-size: 20px;     
  }

  /* Id de la carga de datos de la tabla */
  #data-load
  {
      overflow: auto;
      position: relative;
      width: 90% !important;
      max-width: auto;
      max-height: calc(100vh - 120px); 
      top: auto;
      bottom: 5%;
      padding: 10px;
      margin: 10px auto;
      border: 1px solid black;
      -webkit-box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      box-sizing: border-box;
  }

  .table-hover {
      cursor: pointer;
  }

  .botones-ad {
    position: relative;
    width: 90% !important;
    max-width: auto;
    max-height: calc(100vh - 120px);
    top: -10%;
    bottom: 5%;
    padding: 10px;
    margin: 10px auto;
  }


  #myModal {
    display: none;
  }

  .menu-usuario-rs {
    display: none;
  }

  .close {
    display: none;
  }
}
    

/* Responsividad para una tablet */
/* Media queries */
@media screen and (min-width: 768px) and (max-width: 1023px)  {

  .contenido-main {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      background: #FFF;
  }

  .area-derecha {
      position: relative;
      width: 90%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
  }

  .opciones-menu .contenedor-menu {
    display: none;
  }

  #btn-ayuda {
      display: flex;
      position: absolute;
      padding: 10px;
      margin: 10px;
      
      top: 0;
      right: 0;
      margin: 15px;
      z-index: 1;
      font-size: 20px;
  }

  #btn-menu {
    display: none;
}

  #btn-menu:hover {
    transition: all ease-in.5s;
    transform: scale(1.2);
  }

  /* Id de la carga de datos de la tabla */
  #data-load
  {
      position: relative;
      width: 90% !important;
      max-height: calc(100vh - 120px); 
      top: auto;
      padding: 10px;
      margin: 10px;
      border: 1px solid black;
      -webkit-box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75)
  }

  .table-hover {
      cursor: pointer;
  }

  .botones-ad {
    position: relative;
    width: 90% !important;
    max-width: auto;
    max-height: calc(100vh - 120px);
    top: -10%;
    bottom: 5%;
    padding: 10px;
    margin: 10px auto;
  }

  #myModal {
    display: none;
  }

  .menu-usuario-rs {
    display: none;
  }

  .close {
    display: none;
  }

}


/* Responsividad para un dispositivo móvil*/
/* Media queries */
@media screen and (max-width: 767px)  {

  .contenido-main {
      display: flex;
      flex-wrap: wrap;   
      background: #FFF;
  }

  .area-derecha {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: 60px;
      padding-top: 60px;
      justify-content: center;
      align-items: center;
  }

  .opciones-menu {
      display: block;
      background-color: red;
  }


  #btn-ayuda {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 1;
      font-size: 20px;
  }

  #btn-menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    z-index: 1;
    font-size: 20px;
  }

  /* #btn-menu:hover {
    transition: all ease-in .5s;
    transform: scale(1);
  } */

  /* .bi-list:hover {
    transform: scale(1.2);
  } */

  /* .bi-question-circle-fill {
    transform: scale(1.2);
  } */

  /* Id de la carga de datos de la tabla */
  #data-load {
      overflow: auto;
      position: relative;
      width: 90% !important;
      max-width: auto;
      margin-top: 10px;
      box-sizing: border-box;
      max-height: calc(100vh - 120px);
      height: 90%;
      top: 0 auto;
      padding: 0 auto;
      margin: 0 auto;
      border: 1px solid black;
      -webkit-box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75);
      box-shadow: -15px 10px 5px -4px rgba(0,0,0,0.75)
  }

  /* Se reduce el tamaño del texto dentro de la tabla, asi como de los elementos que la componen */
  #dataload > thead, tbody, div {
    font-size: 12px;
  }

  .info-table {
      padding: 10px;
  }

  .table-responsive {
      overflow-x: auto;
  }

  .table-hover {
      cursor: pointer;
  }

  .botones-ad {
    position: relative;
    width: 90% !important;
    max-width: auto;
    max-height: calc(100vh - 120px);
    top: -10%;
    bottom: 5%;
    padding: 10px;
    margin: 10px auto;
  }

  /* Estilo del modal para pantallas pequeñas */

  /* Estilos del modal */
  .modal {
    display: none;
    position: fixed;
    overflow-y: hidden;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
  }

  .modal-content {
    background-color: #1B3B72;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .modal-content > p {
    color: #FFF;
  }

  /* Boton de cerrar modal */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;    
    
  }

  .close:hover,
  .close:focus {
    color: #EB7F25;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in.5s;
    transform: scale(1.2);
  }


  /* Información del usuario cuando se le da clic en el icono de hamburguesa 
    Nota: Es una copia de la clase: barra-lateral
  */
  .menu-usuario-rs  {
    position: relative;
    background-color: #1B3B72;
    width: 100%;
    height: auto;
    padding: 15px 10px 15px 10px;
    color: #FFF
  }

  #img-barralateral-rs {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
  }

  .datos-usuario-rs {
    font-size: 1.2em;
    text-align: center;
}

.opcion-barralateral-rs {
  position: relative;
  cursor: pointer;
  border-bottom: .5px solid #EB7F25;
  text-align: left;
  transition: all ease-in 300ms;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.opcion-barralateral-csrs {
  position: relative;
  cursor: pointer;
  border-bottom: .5px solid red;
  text-align: left;
  transition: all ease-in 300ms;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.8em;
  margin-top: 50px;
  bottom: 15px;
}

.opcion-barralateral-rs:hover {
  background-color: #8CA2B2;
  border-bottom: 8px solid #EB7F25;
}

.opcion-barralateral-csrs:hover {
  background-color: #8CA2B2;
  border-bottom: 8px solid red;
  color: red;
}






















}



